@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

/* 通用属性设置 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #fafafa;
}

a{
    cursor: pointer;
    color: inherit;
    overflow: hidden;
}

/* 导航栏设置*/
nav{
    font-size: 1.3rem;
    height: 5vh;
    padding: 0.4rem 5rem;
    background-image: var(--bg-img);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

nav ul{
    list-style-type: none;
}

nav a{
    display: block;
    text-decoration: none;
}

.nav-list{
    display: flex;
    align-items: center;
}

.blog-icon{
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Piedra', cursive;
    flex-grow: 1;
}

.icon-component{
    color: #e6d868;
    border-radius: 4px;
    background-color: #336ea7;
    margin-left: 2px;
    padding: 1.5px 4px;
}

.nav-item{
    cursor: pointer;
    padding: 0 0.6rem;
}

.content{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 95vh;
    padding: 2rem 30rem;
    line-height: 200%;
}

footer{
    position: absolute;
    font-size: 0.8rem;
    color: #183864;
    bottom: 0;
    align-self: center;
}

.content img{
    width: 100%;
    height: auto;
}