@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

/* 通用属性设置 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #fafafa;
}

a{
    cursor: pointer;
    color: inherit;
    overflow: hidden;
}

/* 导航栏设置*/
nav{
    font-size: 1.3rem;
    height: 5vh;
    padding: 0.4rem 5rem;
    background-image: var(--bg-img);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

nav ul{
    list-style-type: none;
}

nav a{
    display: block;
    text-decoration: none;
}

footer{
    position: absolute;
    font-size: 0.8rem;
    color: #183864;
    bottom: 0;
    align-self: center;
}

.nav-list{
    display: flex;
    align-items: center;
}

.blog-icon{
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Piedra', cursive;
    flex-grow: 1;
}

.icon-component{
    color: #e6d868;
    border-radius: 4px;
    background-color: #336ea7;
    margin-left: 2px;
    padding: 1.5px 4px;
}

.nav-item{
    cursor: pointer;
    padding: 0 0.6rem;
}

.content{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 95vh;
    padding: 2rem 30rem;
    line-height: 200%;
}

.content p{
    line-height: 200%;
}

/* 设置图片尺寸 */
.content img{
    width: 100%;
    height: auto;
}


/* 设置文章内容间距 */
.content *{
    margin: 0.6rem 0.5rem;
}

.content h1,h2{
    margin: 1rem 0;
}

.content h2{
    margin: 0.8rem 0;
}

/* 设置引用框间距 */
blockquote{
    background: #74b5d4;
    border-left: 10px solid #336ea7;
    padding: 0.5rem 0.5rem;
    quotes: "\201C""\201D""\2018""\2019";
}

/* 代码高亮样式 */
.highlight table td { padding: 0.5rem; }
.highlight table pre { margin: 0; }
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #000000;
  font-weight: bold;
}
.highlight .kd {
  color: #000000;
  font-weight: bold;
}
.highlight .kn {
  color: #000000;
  font-weight: bold;
}
.highlight .kp {
  color: #000000;
  font-weight: bold;
}
.highlight .kr {
  color: #000000;
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: bold;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .il {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .s, .highlight .sa, .highlight .dl {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .bp {
  color: #999999;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf, .highlight .fm {
  color: #990000;
  font-weight: bold;
}
.highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .nv, .highlight .vm {
  color: #008080;
}
.highlight .ow {
  color: #000000;
  font-weight: bold;
}
.highlight .o {
  color: #000000;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}

/* 修改代码框样式 */
.highlight {
  background-color: #edf7d3;
  border-radius: 0.4rem;
}
