---
layout: main
title: YK608的博客
permalink: /category/algo
---
<section class="wrapper">
    <div class="main-title" id="main_title">
        <h1>我的文章</h1>
        <ul class="categories">
            <li class="category-item"><a>全部</a></li>
            <li class="category-item"><a>算法</a></li>
            <li class="category-item"><a>前端</a></li>
            <li class="category-item"><a>密码学</a></li>
            <li class="category-item note"><a>杂记</a></li>
        </ul>
    </div>
    {% for page in site.category.note %}
    <a class="card" style="--bg-img:{{ page.img_url }}">
        <div>
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}…</p>
            <div class="date">{{ page.date | date_to_string }}</div>
            <div class="tags">
                {% for tag in page.tags %}
                    <div class="tag">{{ tag }}</div>
                {% end for%}
            </div>
        </div>
    </a>
    {% endfor %}
</section>