<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav style="--bg-img: url(stary.jpg)">
        <ul class="nav-list">
            <li class="nav-item blog-icon">
                <a>
                    <span>YanKuang</span><span class="icon-component">Blog</span>
                </a>
            </li>
            <li class="nav-item"><a><i class="fa fa-2x fa-github" aria-hidden="true"></i></a></li>
        </ul>
    </nav>
    <section class="content">
        {{ content }}
        <footer> Copyright &copy; 2020 严旷. All Rights Reserved 未经允许不得转载 </footer>
    </section>
    
</body>

</html>