<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="welcome-scene" style="--bg-img: url(/assets/stary.jpg)">
        <span class="welcome-word">你好, 欢迎来到我的博客</span>
        <div class="welcome-button">
            <a class="button primary" href="#main_title">开始阅读</a>
            <a class="button secondary">了解作者</a>
            <a><i class="fa fa-3x fa-github" style="color: #171828" aria-hidden="true"></i></a>
        </div>
    </section>
    <section class="wrapper">
        {{ content }}
    </section>
    {% include footer.html %}
</body>

</html>